# Server Configuration
PORT=8080

# Database Configuration (PostgreSQL example)
# Replace with your actual database credentials
DATABASE_URL=host=localhost user=postgres password=postgres dbname=icon_exchange port=5432 sslmode=disable TimeZone=Asia/Ho_Chi_Minh

# Environment
GIN_MODE=debug # set to release in production
